.vscode
.next
build
dist
out
lib
node_modules
public
.gitignore
components.json
eslint.config.mjs
next-env.d.ts
next.config.ts
package-lock.json
package.json
postcss.config.mjs
README.md
tsconfig.json
tsconfig.*.json

# pnpm-lock.yaml
# LICENSE.md
# tsconfig.json
# tsconfig.*.json
# resources
globals.css
ui
.github
